<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
    <add key="photoCount" value="1"/>
    <add key="sortBy" value="latest"/>
		<add key="defaultFolder" value=""/>
    <add key="defaultUpdateInterval" value="10"/>
    <add key="apiUrl" value="https://api.unsplash.com/"/>
    <add key="apiAccessKey" value="pHbJV97wGcaEAtRk-_EGbBhrvdRd929hGQWbhxRYCo4"/>
    <add key="orientation" value="landscape"/>
    <add key="topicsSelected" value=""/>
    <add key="perPageCount" value="10" />
	</appSettings>
</configuration>